*
{
    margin:0;
    padding: 0;
}

body
{
    background-color: #E4F9F5;
}

header
{
    background-color: #E4F9F5;
    
}

h1
{
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
  text-align: center; 
  float: inline-start;
}

h2
{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;

}
nav
{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    background-color: #E4F9F5;
}
nav a
{
    color: black;
    text-decoration: none;
    border: 1px solid white;
    border-color: white;
    padding: 10px;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav a:hover
{
    background-color: teal;
    color: black;
}

.top-condainer
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
 
  
}

div
{
    background-color: #E4F9F5;
    margin-top: auto;
   
}
.skills
{
    margin-left: 20%;
}

footer
{
    background-color: black;
    color: white;
    font-family: 'Sacramento', cursive;
    text-align: center;
    height: 3em;
    margin-top: 5%;
    padding-top: 6px;
}

form
{
    margin-left: 5%;
}


.btn {
    border: none;
    background-color: #2196F3;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 12px;
}


/* Blue */
.info {
    color: black;
}

.info:hover {
    background: #063861;
    color: white;
}


